body {
  background-color: black;
}

.shrunkable {
  transition: all ease-in-out 0.3s;
  overflow: hidden;
}

.shrunk {
  width: 0;
}

.expanded {
  width: 100%;
}

.rotating {
  animation: rotate 1s linear infinite;

  @keyframes rotate {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
}

.auto-scrolling {
  animation: auto-scrolling 10s linear infinite;
  //left: 0;
  right: auto
}

.text-shadow {
  text-shadow: 1px 1px 1px black;
}

.icon-shadow {
  -webkit-filter: drop-shadow( 1px 1px black);
  filter: drop-shadow( 1px 1px black);
}

.animate__delay-05s {
  animation-delay: 0.5s;
}

.animate__delay-02s {
  animation-delay: 0.2s;
}

.animate__delay-03s {
  animation-delay: 0.3s;
}

.animate__delay-04s {
  animation-delay: 0.4s;
}

.animate__delay-015s {
  animation-delay: 0.15s;
}

.powered-by,
.share-to-unlock {
  opacity: 0.4;
  transition: all ease-in-out 0.3s;

  &:hover {
    opacity: 1;
  }
}