

.shrunkable {
  transition: all ease-in-out 0.3s;
  overflow: hidden;
}

.shrunk {
  width: 0;
}

.expanded {
  width: 100%;
}

.rotating {
  animation: rotate 1s linear infinite;

  @keyframes rotate {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
}