@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import 'app/styles/common.scss';


body {
  font-family: "Kode Mono", monospace;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  margin: 0;
  padding: 0;
  overflow: hidden;

  display: flex;
  flex-direction: column;
  flex: 1;
}

#root {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

#ad1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#ad2 {
  display: flex;
  justify-content: center;
  align-items: center;
}